includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- phpstan-baseline.neon

parameters:
	level: 9
	excludePaths:
		- tests/Rules/Asset/*
	paths:
		- src
		- tests