parameters:
	ignoreErrors:
		-
			message: "#^Creating new PHPStan\\\\Type\\\\Doctrine\\\\ObjectMetadataResolver is not covered by backward compatibility promise\\. The class might change in a minor PHPStan version\\.$#"
			count: 1
			path: tests/Rules/ValidateFieldComparisonCallRuleTest.php

		-
			message: "#^Creating new PHPStan\\\\Type\\\\Doctrine\\\\ObjectMetadataResolver is not covered by backward compatibility promise\\. The class might change in a minor PHPStan version\\.$#"
			count: 1
			path: tests/Rules/ValidateFieldCriteriaCallRuleTest.php

