parameters:
	ignoreErrors:
		-
			message: "#^Calling PHPStan\\\\Type\\\\Doctrine\\\\ObjectMetadataResolver\\:\\:getClassMetadata\\(\\) is not covered by backward compatibility promise\\. The method might change in a minor PHPStan version\\.$#"
			count: 2
			path: src/Rules/ValidateFieldComparisonCallRule.php

		-
			message: "#^Cannot access property \\$embeddedClasses on Doctrine\\\\ORM\\\\Mapping\\\\ClassMetadataInfo\\<object\\>\\|null\\.$#"
			count: 1
			path: src/Rules/ValidateFieldComparisonCallRule.php

		-
			message: "#^Cannot call method getAssociationTargetClass\\(\\) on Doctrine\\\\ORM\\\\Mapping\\\\ClassMetadataInfo\\<object\\>\\|null\\.$#"
			count: 1
			path: src/Rules/ValidateFieldComparisonCallRule.php

		-
			message: "#^Parameter \\#1 \\$className of method PHPStan\\\\Type\\\\Doctrine\\\\ObjectMetadataResolver\\:\\:getClassMetadata\\(\\) expects class\\-string\\<object\\>, string given\\.$#"
			count: 2
			path: src/Rules/ValidateFieldComparisonCallRule.php

		-
			message: "#^Unable to resolve the template type T in call to method PHPStan\\\\Type\\\\Doctrine\\\\ObjectMetadataResolver\\:\\:getClassMetadata\\(\\)$#"
			count: 2
			path: src/Rules/ValidateFieldComparisonCallRule.php

		-
			message: "#^Calling PHPStan\\\\Type\\\\Doctrine\\\\ObjectMetadataResolver\\:\\:getClassMetadata\\(\\) is not covered by backward compatibility promise\\. The method might change in a minor PHPStan version\\.$#"
			count: 2
			path: src/Rules/ValidateFieldCriteriaCallRule.php

		-
			message: "#^Cannot access property \\$embeddedClasses on Doctrine\\\\ORM\\\\Mapping\\\\ClassMetadataInfo\\<object\\>\\|null\\.$#"
			count: 1
			path: src/Rules/ValidateFieldCriteriaCallRule.php

		-
			message: "#^Cannot call method getAssociationTargetClass\\(\\) on Doctrine\\\\ORM\\\\Mapping\\\\ClassMetadataInfo\\<object\\>\\|null\\.$#"
			count: 1
			path: src/Rules/ValidateFieldCriteriaCallRule.php

		-
			message: "#^Parameter \\#1 \\$className of method PHPStan\\\\Type\\\\Doctrine\\\\ObjectMetadataResolver\\:\\:getClassMetadata\\(\\) expects class\\-string\\<object\\>, string given\\.$#"
			count: 2
			path: src/Rules/ValidateFieldCriteriaCallRule.php

		-
			message: "#^Unable to resolve the template type T in call to method PHPStan\\\\Type\\\\Doctrine\\\\ObjectMetadataResolver\\:\\:getClassMetadata\\(\\)$#"
			count: 2
			path: src/Rules/ValidateFieldCriteriaCallRule.php

		-
			message: "#^Creating new PHPStan\\\\Type\\\\Doctrine\\\\ObjectMetadataResolver is not covered by backward compatibility promise\\. The class might change in a minor PHPStan version\\.$#"
			count: 1
			path: tests/Rules/ValidateFieldComparisonCallRuleTest.php

		-
			message: "#^Creating new PHPStan\\\\Type\\\\Doctrine\\\\ObjectMetadataResolver is not covered by backward compatibility promise\\. The class might change in a minor PHPStan version\\.$#"
			count: 1
			path: tests/Rules/ValidateFieldCriteriaCallRuleTest.php
